<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>产品价格</title>
    @@include('headLink.inc')
</head>

<body>
@@include('header.inc')

    <div class="content_wrap price_wrap">
        <div class="price_banner"></div>
        <div class="report_type">
            <p class="price_head">分析报告定价</p>
            <p class="price_type_head">日报</p>
            <div class="price_order cf">
                <div class="price_info">
                    <span>￥ 30000/年</span>
                    <span class="info_disc">(享8.5折优惠)</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告PDF版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告WORD版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">其他基础功能</span>
                </div>
                <a class="btn_order" href="price_order.html">订购</a>
            </div>

            <p class="price_type_head">周报</p>
            <div class="price_order cf">
                <div class="price_info">
                    <span>￥ 30000/年</span>
                    <span class="info_disc">(享8.5折优惠)</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告PDF版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告WORD版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">其他基础功能</span>
                </div>
                <a class="btn_order" href="price_order.html">订购</a>
            </div>

            <p class="price_type_head">月报</p>
            <div class="price_order cf">
                <div class="price_info">
                    <span>￥ 30000/年</span>
                    <span class="info_disc">(享8.5折优惠)</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告PDF版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告WORD版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">其他基础功能</span>
                </div>
                <a class="btn_order" href="price_order.html">订购</a>
            </div>

            <p class="price_type_head">年报</p>
            <div class="price_order cf">
                <div class="price_info">
                    <span>￥ 30000/年</span>
                    <span class="info_disc">(享8.5折优惠)</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告PDF版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">分析报告WORD版本</span>
                    <span class="info_list"><img class="icon_right" src="../images/icon_right.png" alt="">其他基础功能</span>
                </div>
                <a class="btn_order" href="price_order.html">订购</a>
            </div>

            <p class="price_head">更多定制服务</p>
            <div class="price_more">
                <p class="more_one">除了基于国控站的数据,进行一系列的分析,我们还提供基于市控站,区控站,网格化站点的数据分析。</p>
                <p class="more_two">自有设备或区控站需提供原始数据;部署网格化站点,可联系公司市场人员洽谈。</p>
                <div class="price_contact">
                    <p>
                        <img src="../images/icon_mail.png" alt="">
                        <span>Email:support@coilabs.com</span>
                        <img class="contact_tele" src="../images/icon_phone.png" alt="">
                        <span>服务热线:010-69153998</span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    @@include('footer.inc')
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>

</body>

</html>