<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>可视化展示</title>
    @@include('headLink.inc')
</head>

<body>
@@include('header.inc')
    <div class="banner_visual"></div>
    <div class="visual_con">
        <div class="visual_soft">
            <h2 style="color: #048bd1;font-weight:400;font-size:30px;">可视化展示</h2>
            <p>
                <span>——</span>
                <span>VISUALI<span style="color:#048bd1;">ZATION</span></span>
                <span>——</span>
            </p>
        </div>
        <div class="visua_dapin">
            <img src="../images/dapin.png" alt="">
        </div>



        <div class="visual_soft">
            <h2 style="color: #048bd1;font-weight:400;font-size:30px;">软件产品</h2>
            <p>
                <span>——</span>
                <span>SOFT<span style="color:#048bd1;">WARE</span></span>
                <span>——</span>
            </p>
        </div>
        <div class="visual2">
            <img src="../images/soft_pic2.png" alt="">
        </div>

        <div class="hr_line"></div>
        <div class="visual1">
            <img src="../images/soft_pic1.png" alt="">
        </div>

        <div class="visual_soft">
            <h2 style="color: #048bd1;font-weight:400;font-size:30px;">定制开发</h2>
            <p>
                <span>——</span>
                <span>CUSTOMI<span style="color:#048bd1;">ZATION</span></span>
                <span>——</span>
            </p>
        </div>
        <div class="visua_custom">
            <div class="visua_more">
                <p class="more_one">除了提供基于国控站、市控站、自有设备进行一系列的数据分析,我们还提供基于此的管理分析平台、大屏展示系统、APP联防联控系统</p>
                <p class="more_two">区控站或自有设备需提供原始数据;部署网格化站点,确定功能需求可联系公司市场人员洽谈。</p>
                <div class="visual_contact">
                    <p>
                        <img src="../images/icon_mail.png" alt="">
                        <span>Email:support@coilabs.com</span>
                        <img class="contact_tele" src="../images/icon_phone.png" alt="">
                        <span>服务热线:010-69153998</span>
                    </p>

                </div>
            </div>
        </div>

    </div>
    @@include('footer.inc')
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
</body>

</html>