.dataApi_banner {
    width: 100%;
    height: 200px;
    background: url(../images/dataApi_banner.png) center center;
    background-size: cover;
}

.dataApi_type {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.dataApi_head {
    border-left: 10px solid #0e9cfe;
    margin-top: 60px;
    padding-left: 10px;
    font-size: 22px;
    color: #000000;
}

.dataApi_box {
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
}

.box1 {
    width: 330px;
    border: 1px solid transparent;
    float: left;
}

.box1 img {
    display: block;
    float: left;
    margin-left: -9px;
}

.box1 h3 {
    font-size: 20px;
    width: 80px;
    margin-left: 45px;
    font-weight: normal;
}

.box1 p {
    font-size: 18px;
    color: #4f4e4e;
    width: 310px;
    margin-top: -15px;
}

.cp {
    margin-left: 103px;
    margin-right: 103px;
}

.cd {
    margin-top: 20px;
}

.service {
    margin: auto;
    width: 1200px;
}

.dataApi_head_1 {
    border-left: 10px solid #0e9cfe;
    margin-top: 60px;
    padding-left: 10px;
    font-size: 22px;
    color: #000000;
}

.service_1 {
    font-size: 18px;
    width: 1160px;
    margin: auto;
    padding-top: 10px;
}

.service_2 {
    font-size: 16px;
    width: 1160px;
    margin: auto;
    padding-top: 15px;
    color: #818181;
}

.contact {
    margin-top: -10px;
}

.contact_1 img {
    float: left;
}

.contact_1 p {
    width: 300px;
    margin-left: 40px;
    margin-top: 5px;
}

.contact {
    margin: auto;
    width: 1200px;
    margin-top: 40px;
}

.contact_1 {
    width: 350px;
    float: left;
    margin-left: 18px;
    margin-top: -10px;
}

.Line {
    margin-top: 60px;
    border-left: 1px;
    height: 1px;
    background-color: #000000;
}

.dataApi_footer p {
    color: #494949;
    font-size: 16px;
    text-align: center;
}